.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #0a192f 0%, #172a45 100%);
  color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-headline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 3rem;
    z-index: 2;
}

.hero-subheadline {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  min-height: 2.2rem;
  z-index: 2;
}

.hero-cta-button {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
  z-index: 2;
}

.hero-cta-button:hover {
  background-color: #ccc;
}

.hero-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.hero-slideshow img.active {
  opacity: 0.3;
}